[user]
        email = 56389380+aurelienrichard@users.noreply.github.com
        name = aurelienrichard
        signingkey = 30E1B7D086708792
[init]
        defaultBranch = main
[code]
        editor = code --wait
[commit]
        gpgsign = true
[tag]
        gpgSign = true
[push]
        autoSetupRemote = true
[gpg]
        program = gpg
